In [1]:
import pickle
import pandas as pd
import yaml
from statistics import mean

In [2]:
infile=open('C:/Users/Sidney/OneDrive/Documents/LiveProject/AB_NYC_2019.pkl', 'rb')

In [3]:
df=pickle.load(infile)

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

Read YAML Config File

In [5]:
with open('C:/Users/Sidney/LiveProject/AirBnB_config.yml', 'r') as file:
    config=yaml.safe_load(file)

In [6]:
config

{'general': {'load_from_scratch': False,
  'save_raw_dataframe': False,
  'save_transformed_dataframe': False,
  'remove_bad_values': True},
 'columns': {'categorical': ['neighbourhood_group',
   'neighbourhood',
   'room_type'],
  'continuous': ['minimum_nights',
   'price',
   'number_of_reviews',
   'reviews_per_month',
   'calculated_host_listings_count'],
  'date': ['last_review'],
  'text': ['name', 'host_name'],
  'excluded': ['id']},
 'bounding_box': {'max_long': -73.70018092,
  'max_lat': 40.91617849,
  'min_long': -74.25909008,
  'min_lat': 40.47739894},
 'newark_bounding_box': {'max_long': -74.11278706,
  'max_lat': 40.67325015,
  'min_long': -74.25132408,
  'min_lat': 40.78813864},
 'geo_columns': ['latitude', 'longitude'],
 'file_names': {'input_csv': 'AB_NYC_2019.csv',
  'pickled_input_dataframe': 'AB_NYC_2019_output_aug20_2020.pkl',
  'pickled_output_dataframe': 'AB_NYC_2019_output_aug20_2020.pkl'}}

In [7]:
config.keys()

dict_keys(['general', 'columns', 'bounding_box', 'newark_bounding_box', 'geo_columns', 'file_names'])

In [8]:
z=config.get('columns')
continuous=z.get('continuous')
categorical=z.get('categorical')
text=z.get('text')
geo_columns=config.get('geo_columns')
bounding_box=config.get('bounding_box')

In [9]:
bounding_box
#bounding box is a dictionary

{'max_long': -73.70018092,
 'max_lat': 40.91617849,
 'min_long': -74.25909008,
 'min_lat': 40.47739894}

In [10]:
max_long=bounding_box.get('max_long')
max_lat=bounding_box.get('max_lat')
min_long=bounding_box.get('min_long')
min_lat=bounding_box.get('min_lat')

In [11]:
geo_columns

['latitude', 'longitude']

In [12]:
continuous

['minimum_nights',
 'price',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count']

In [13]:
categorical

['neighbourhood_group', 'neighbourhood', 'room_type']

In [14]:
df['neighbourhood_group'].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [15]:
neighbourhood_group_list=list(df['neighbourhood_group'].value_counts().index)

In [16]:
neighbourhood_group_list

['Manhattan', 'Brooklyn', 'Queens', 'Bronx', 'Staten Island']

In [17]:
df['room_type'].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [18]:
room_type_list=list(df['room_type'].value_counts().index)

In [19]:
room_type_list

['Entire home/apt', 'Private room', 'Shared room']

In [20]:
for i in range(len(continuous)):
    print()
    print(continuous[i])
    print(df[continuous[i]].describe())

minimum_nights
count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

price
count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

number_of_reviews
count    48895.000000
mean        23.274466
std         44.550582
min          0.000000
25%          1.000000
50%          5.000000
75%         24.000000
max        629.000000
Name: number_of_reviews, dtype: float64

reviews_per_month
count    38843.000000
mean         1.373221
std          1.680442
min          0.010000
25%          0.190000
50%          0.720000
75%          2.020000
max         58.500000
Name: reviews_per_month, dtype: float64

calculated_host_listings_count
count    48895.000000
mean         7.143982
std         32.952519
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        327.000000
Name: calculated_host_listings_count, dtype: float64

Reviews per month has 10,052 null values. 
Zero will be assigned to the null values.

In [21]:
text

['name', 'host_name']

name has 16 null values and host_name has 21 null values from previous lesson
The plan is to replace the null values in both columns with the text 'unknown'

In [22]:
Headings=list(df)
#list(df) is a nice list of all the column headings

In [23]:
Headings

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [24]:
#replace invalid continuous data
def replace_invalid_continuous (Col_Name,Col_List):
    for j in range(len(Col_List)):
        if Col_List[j] < 0:
            df[Col_Name]=df[Col_Name].replace([Col_List[j]], mean(Col_List))

In [25]:
#replace invalid categorical data
def replace_invalid_categorical (Col_Name,Col_List, Good_List):
    for j in range(len(Col_List)):
        if (Col_List[j] not in Good_List):
            df[Col_Name]=df[Col_Name].replace([Col_List[j]], 'UNK')

In [26]:
#delete row if not in New York
def delete_if_not_range (Col_List, min_range, max_range):
    for j in range(len(Col_List)):
        if (Col_List[j]>max_range or Col_List[j]<min_range):
            df.drop(df.index[j])

In [27]:
for i in range(len(Headings)):
    
    if (Headings[i] in text):
        df[Headings[i]].fillna('unknown', inplace=True)
        
    if (Headings[i]=='reviews_per_month'):
        df[Headings[i]].fillna(0, inplace=True)
        
    if (Headings[i] in continuous):
        Col_List=list(df[Headings[i]])
        replace_invalid_continuous(Headings[i],Col_List)
                
    if (Headings[i] in categorical and Headings[i] != 'neighbourhood'):
        Col_List=list(df[Headings[i]])
        
        if (Headings[i]=='neighbourhood_group'):
            Good_List=neighbourhood_group_list
            replace_invalid_categorical(Headings[i],Col_List,Good_List)
        
        if (Headings[i]=='room_type'):
            Good_List=room_type_list
            replace_invalid_categorical(Headings[i],Col_List,Good_List)

    if (Headings[i] in geo_columns):
        Col_List=list(df[Headings[i]])
        
        if (Headings[i]=='latitude'):
            delete_if_not_range(Col_List, min_lat, max_lat)
            
        if (Headings[i]=='longtitude'):
            delete_if_not_range(Col_List, min_long, max_long)

Save dataframe as a pickle file

In [28]:
outfile=open('C:/Users/Sidney/OneDrive/Documents/LiveProject/AB_NYC_2021.pkl', 'wb')

In [29]:
pickle.dump(df,outfile)